<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TODO these settings needs to be set to valid values. -->
    <add key="sourceCodeProxy:stashBaseUrl" value="http://your.stash.server.goes.here/stash"/>
    <add key="sourceCodeProxy:stashUser" value="admin-bad-idea-to-use"/>
    <add key="sourceCodeProxy:stashPassword" value="admin"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrl-Integrated-4.0"/>
      <add name="ExtensionlessUrl-Integrated-4.0" path="*" verb="GET" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
